
.chatPage{
    h1{
        text-align: left;
        padding: 2rem 3rem;
        font-family: 'Poppins';
        font-weight: 700;
        color: white;
    }
    img{
        margin: 0 auto;
    }
}

